/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    font-size: 2.5rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px 0;
}

.articles {
    margin-bottom: 30px;
}

.articles h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.articles article {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Tamaño fijo */
    margin: 0 auto; /* Centrar los artículos */
    word-wrap: break-word; /* Evitar desbordamiento de palabras */
    overflow-wrap: break-word; /* Manejar palabras largas */
    min-height: 300px; /* Altura mínima fija */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.articles article h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.articles article p.meta {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.articles article p {
    line-height: 1.8;
    flex-grow: 1;
}

.articles article a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    align-self: flex-start;
}

.articles article a:hover {
    text-decoration: underline;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a, .pagination .current-page {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 5px;
    background-color: #f7f7f7;
    color: #333;
    text-decoration: none;
    border-radius: 3px;
}

.pagination a:hover {
    background-color: #e0e0e0;
}

.pagination .current-page {
    font-weight: bold;
    color: #fff;
    background-color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer p {
    font-size: 0.9rem;
}
